<?xml version="1.0"?>
<EnvironmentPathInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TestConfigurationPath>TestConfiguration_VCU_HIL.tcf</TestConfigurationPath>
  <TestbenchConfigurationPath>TestbenchConfiguration_VCU_HIL.tbf</TestbenchConfigurationPath>
</EnvironmentPathInfo>